@import url('https://fonts.googleapis.com/css?family=Poppins|Source+Code+Pro&display=swap');
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-left: 3%;
  margin-right: 3%;
  /* margin-top: 3.5%; */
  padding: 1rem 0;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15.5rem auto;
  height: 15rem;
  background: #172A45;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card--avatar {
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.card--title {
  color: #CCD6F6;
  font-weight: 200;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-family: 'Source Code Pro', monospace;
  /* margin-top: 0.5rem; */
}

.card--link {
  text-decoration: none;
  /* background: darkorange; */
  background: rgb(255, 6, 89);
  color: rgb(255, 255, 255);
  padding: 0.3rem 1rem;
  font-family: 'Source Code Pro', sans-serif;
  border-radius: 20px;
}

b{
  text-align: center;
  color: #ccc;
  margin: 0 auto;
  margin-top: 1%;
}
.gohome{
  align-items: center;
  display: flex;
  justify-content: center;
}