@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Mono|Poppins&display=swap');
.homepage{
  /* background-color: #0A192F; */
  /* background: url('https://wallpaperplay.com/walls/full/9/3/b/60600.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  width: 100%;
  margin-top: 5%;
  /* height: 100vh; */
}
.homepage2{
height: 100vh;
background-color: white;
align-items: center;
display: flex;
justify-content: right;
}
html,body{
  margin: 0;
  padding: 0;
  background-color: #0A192F ;

}
.intro1{
  margin-top: 13%;
  margin-left: 8.5%;
  color: #64FFDA;
  font-size: 2.8vmax;
  transition-delay: 100ms;
  font-family: 'PT Mono', monospace;
}

h2{
color: #CCD6F6;
font-size: 9vw;
margin-left:8.5%;
margin-top: 0;
margin-bottom: 15px;
}
h3{
  margin-top: 0;
  margin-left:8.5%;
  color:#8892B0;
  font-size: 7.3vw;
}
/* header style */
.topnav {
  overflow: hidden;
  margin-right: 8%;
}

.topnav a {
  float:right;
  font-family: 'Source Code Pro', sans-serif;
  color: #64FFDA;
  text-align: center;
  display: flex;
  /* justify-content:sp; */
  padding: 15px 10px;
  text-decoration: none;
  font-size:18px;
}